ul.bigicon {
    list-style: none;
    padding: 0;
    margin: 0;
}

ul.bigicon li {
    background: url("icons/liimg.png") no-repeat;
    padding-left: 40px;
}

.two-btn {
	width: 37.5%;
	font-size: 150%;
}

.three-btn {
	width: 25%;
	font-size: 130%;
}
