.icon-takstol {
    background-image: url("icons/takstoler.png");
    background-position: center center;
    height: 117px;
    line-height: 117px;
    width: 117px;
}

ul.bigicon {
    list-style: none;
    padding: 0;
    margin: 0;
}

ul.bigicon li {
    background: url("icons/liimg.png") no-repeat;
    padding-left: 40px;
}
