<br>
<div class="row" align="center"><h3>Endringer i standard</h3></div>
<h1>Annen informasjon</h1>
        <br/>
<div class="offset1 span10 row">
<textarea rows="5" class="input span12"></textarea>
</div>


<div class="row offset5 span12 vertical-spacing">
    <button class="btn btn-large btn-warning horizontal-spacing">Skriv ut</button>
    <button class="btn btn-large btn-inverse horizontal-spacing">Lagre</button>
    <button class="btn btn-large btn-success horizontal-spacing">Send inn</button>
</div>