<br>
<div class="row" align="center"><h3>Endringer i standard</h3></div>
<h1>Annen informasjon</h1>
        <br/>
<div class="offset1 span10 row">
<textarea rows="8" class="input span9"></textarea>
</div>

<div style="height:10%;"></div>

<div class="row offset1 span9 vertical-spacing">
    <button class="btn btn-large btn-warning horizontal-spacing">Skriv ut</button>
    <button class="btn btn-large btn-inverse horizontal-spacing">Lagre</button>
    <button class="btn btn-large btn-success horizontal-spacing">Send inn</button>
</div>