
<div class="row"><h2>Jeg ønsker kalkyle for <small>(du kan merke flere)</small></h2></div>
<div class="row">
<img ng-src="{{takstolerIcon}}" ng-click="toggleTakstolerIcon()"/>
<img ng-src="{{trelastIcon}}" ng-click="toggleTrelastIcon()"/>
<img ng-src="{{byggesettIcon}}" ng-click="toggleByggesettIcon()"/>

</div>
<div class="row">
<img ng-src="{{vinduIcon}}" ng-click="toggleVinduIcon()"/>
<img ng-src="{{dorUtvendigIcon}}" ng-click="toggleDorUtvendigIcon()"/>
<img ng-src="{{dorInnvendigIcon}}" ng-click="toggleDorInnvendigIcon()"/>
</div>

<div class="row">
<img ng-src="{{ventilasjonsanleggIcon}}" ng-click="toggleVentilasjonsanleggIcon()"/>
<img ng-src="{{pipeIcon}}" ng-click="togglePipeIcon()"/>
<img ng-src="{{sentralstovesugerIcon}}" ng-click="toggleSentralstovesugerIcon()"/>
</div>

<div class="row offset1 span4"><a class="btn btn-large btn-success btn-block" href="#/dokumenter">Neste</a></div>
