<br>
<br>
<br>

<div class="row-fluid"><h2>Jeg ønsker kalkyle for <small>(du kan merke flere)</small></h2></div>

<br>
<br>
<br>

<div class="row-fluid">
<div class="span4" align="center"><img class="img-grid" ng-src="{{takstolerIcon}}" ng-click="toggleTakstolerIcon()"/><br>Takstoler</div>
<div class="span4" align="center"><img class="img-grid" ng-src="{{trelastIcon}}" ng-click="toggleTrelastIcon()"/><br><p>Trelast og <br> byggevarer</p></div>
<div class="span4" align="center"><img class="img-grid" ng-src="{{byggesettIcon}}" ng-click="toggleByggesettIcon()"/><br><p>Byggesett</p></div>
</div>

<div class="row-fluid">
<div class="span4" align="center"><img class="img-grid" ng-src="{{vinduIcon}}" ng-click="toggleVinduIcon()"/><br><p>Vinduer</p></div>
<div class="span4" align="center"><img class="img-grid" ng-src="{{dorUtvendigIcon}}" ng-click="toggleDorUtvendigIcon()"/><br><p>Dører utvendig</p></div>
<div class="span4" align="center"><img class="img-grid" ng-src="{{dorInnvendigIcon}}" ng-click="toggleDorInnvendigIcon()"/><br><p>Dører innvendig</p></div>
</div>

<div class="row-fluid">
<div class="span4" align="center"><img class="img-grid" ng-src="{{ventilasjonsanleggIcon}}" ng-click="toggleVentilasjonsanleggIcon()"/><br><p>Ventilasjonsanlegg</p></div>
<div class="span4" align="center"><img class="img-grid" ng-src="{{pipeIcon}}" ng-click="togglePipeIcon()"/><br><p>Pipe</p></div>
<div class="span4" align="center"><img class="img-grid" ng-src="{{sentralstovesugerIcon}}" ng-click="toggleSentralstovesugerIcon()"/><br><p>Sentralstøvsuger</p></div>
</div>

<br>
<br>
<br>
<br>
<br>
<br>
<br>

<div class="row-fluid" align="center">
<button class="btn btn-large btn-wide btn-success btn-prev-next" onclick="window.location='#/salgskalkyle/dokumenter'">Neste</button>
</div>
