
<div class="row" align="center"><h2>Endringer i standard</h2></div>
<h1>Kledning</h1>
<div class="row" class="btn-group" data-toggle="buttons-radio" align="center">
    <button type="button" class="btn btn-large btn-two {{activeClass(kledning_profil,'Profilert')}}" ng-click="setProfil('Profilert')">Profilert</button>
    <button type="button" class="btn btn-large btn-two {{activeClass(kledning_profil,'Rektangulær')}}" ng-click="setProfil('Rektangulær')">Rektangulær</button>
</div>
<br>
<div class="row" class="btn-group" data-toggle="buttons-radio" align="center">
<button type="button" class="btn btn-large btn-three {{activeClass(kledning_behandlet,'Ubehandlet')}}" ng-click="setBehandlet('Ubehandlet')">Ubehandlet</button>
<button type="button" class="btn btn-large btn-three {{activeClass(kledning_behandlet,'Grunnet')}}" ng-click="setBehandlet('Grunnet')">Grunnet</button>
<button type="button" class="btn btn-large btn-three {{activeClass(kledning_behandlet,'Malt')}}" ng-click="setBehandlet('Malt')">Malt</button>
</div>

<br>
<br>

<h1>Bjelkelag</h1>

<div class="row" class="btn-group" data-toggle="buttons-radio" align="center">
    <button type="button" class="btn btn-large btn-two {{activeClass(bjelketype,'Heltre')}}" ng-click="setBjelketype('Heltre')">Heltre</button>
    <button type="button" class="btn btn-large btn-two {{activeClass(bjelketype,'I-bjelker')}}" ng-click="setBjelketype('I-bjelker')">I-bjelker</button>
</div>
<br>
<div class="row" class="btn-group" data-toggle="buttons-radio" align="center">
<button type="button" class="btn btn-large btn-three {{activeClass(dekke,'Plate på mark')}}" ng-click="setDekke('Plate på mark')">Plate på mark</button>
<button type="button" class="btn btn-large btn-three {{activeClass(dekke,'Betongdekk')}}" ng-click="setDekke('Betongdekk')">Betongdekk</button>
<button type="button" class="btn btn-large btn-three {{activeClass(dekke,'Stubbeloftsgulv')}}" ng-click="setDekke('Stubbeloftsgulv')">Stubbeloftsgulv</button>
</div>

<br>
<br>
<br>
<br>

<div class="row-fluid" align="center">
            <a class="btn btn-large btn-success btn-prev-next" href="#/salgskalkyle/dokumenter">Forrige</a>
            <a class="btn btn-large btn-success btn-prev-next" href="#/salgskalkyle/yttervegg-og-listverk">Neste</a>
</div>