<br>
<div class="row" align="center"><h3>Endringer i standard</h3></div>
<h1>Kledning</h1>
<br>
<br>
<br>
<div class="row-fluid btn-group" data-toggle="buttons-radio" align="center">
    <button type="button" class="btn btn-large btn-two {{activeClass(kledningBjelke.kledning_profil,'Profilert')}}" ng-click="setProfil('Profilert')">Profilert</button>
    <button type="button" class="btn btn-large btn-two {{activeClass(kledningBjelke.kledning_profil,'Rektangulær')}}" ng-click="setProfil('Rektangulær')">Rektangulær</button>
</div>
<br>
<br>
<br>
<br>
<br>
<div class="row-fluid btn-group" data-toggle="buttons-radio" align="center">
<button type="button" class="btn btn-large btn-three {{activeClass(kledningBjelke.kledning_behandlet,'Ubehandlet')}}" ng-click="setBehandlet('Ubehandlet')">Ubehandlet</button>
<button type="button" class="btn btn-large btn-three {{activeClass(kledningBjelke.kledning_behandlet,'Grunnet')}}" ng-click="setBehandlet('Grunnet')">Grunnet</button>
<button type="button" class="btn btn-large btn-three {{activeClass(kledningBjelke.kledning_behandlet,'Malt')}}" ng-click="setBehandlet('Malt')">Malt</button>
</div>

<br>
<br>
<br>
<br>
<br>
<br>
<br>

<h1>Bjelkelag</h1>
<br>
<div class="row-fluid btn-group" data-toggle="buttons-radio" align="center">
    <button type="button" class="btn btn-large btn-two {{activeClass(kledningBjelke.bjelketype,'Heltre')}}" ng-click="setBjelketype('Heltre')">Heltre</button>
    <button type="button" class="btn btn-large btn-two {{activeClass(kledningBjelke.bjelketype,'I-bjelker')}}" ng-click="setBjelketype('I-bjelker')">I-bjelker</button>
</div>
<br>
<br>
<br>
<br>
<br>
<div class="row-fluid btn-group" data-toggle="buttons-radio" align="center">
<button type="button" class="btn btn-large btn-three {{activeClass(kledningBjelke.dekke,'Plate på mark')}}" ng-click="setDekke('Plate på mark')">Plate på mark</button>
<button type="button" class="btn btn-large btn-three {{activeClass(kledningBjelke.dekke,'Betongdekk')}}" ng-click="setDekke('Betongdekk')">Betongdekk</button>
<button type="button" class="btn btn-large btn-three {{activeClass(kledningBjelke.dekke,'Stubbeloftsgulv')}}" ng-click="setDekke('Stubbeloftsgulv')">Stubbeloftsgulv</button>
</div>

