
<h2>Tak</h2>
<div class="btn-group" data-toggle="buttons-radio">
    <button type="button" class="btn btn-large {{activeClass(type,'heltre')}}" ng-click="setType('heltre')">Heltre</button>
    <button type="button" class="btn btn-large {{activeClass(type,'isperr')}}" ng-click="setType('isperr')">I-sperr</button>
    <button type="button" class="btn btn-large {{activeClass(type,'annet')}}" ng-click="setType('annet')">Annet</button>
</div>
<br/>
<br/>
<br/>
<br/>

<form class="form-horizontal">
    <fieldset>


        <!-- Text input-->
        <div class="control-group">
            <label class="control-label" for="sperrefot">Synlig sperrefot</label>
            <div class="controls">
                <input id="sperrefot" name="sperrefot" type="text" placeholder="placeholder" class="input-xlarge">

            </div>
        </div>

        <!-- Text input-->
        <div class="control-group">
            <label class="control-label" for="takoppbygging">Oppbygging under tak</label>
            <div class="controls">
                <input id="takoppbygging" name="takoppbygging" type="text" placeholder="placeholder" class="input-xlarge">

            </div>
        </div>

        <!-- Text input-->
        <div class="control-group">
            <label class="control-label" for="taktekking">Taktekking</label>
            <div class="controls">
                <input id="taktekking" name="taktekking" type="text" placeholder="placeholder" class="input-xlarge">

            </div>
        </div>

    </fieldset>
</form>

<br/>
<br/>
<br/>
<div class="row-fluid" align="center">
            <a class="btn btn-large btn-success" href="#/salgkalkyle/kledning-og-bjelke">Neste</a>
            <a class="btn btn-large btn-success" href="#/salgkalkyle">Forrige</a>
</div>



