
<h2>Tak</h2>
<div class="btn-group" data-toggle="buttons-radio">
    <button type="button" class="btn btn-large {{activeClass(type,'heltre')}}" ng-click="setType('heltre')">Heltre</button>
    <button type="button" class="btn btn-large {{activeClass(type,'isperr')}}" ng-click="setType('isperr')">I-sperr</button>
    <button type="button" class="btn btn-large {{activeClass(type,'annet')}}" ng-click="setType('annet')">Annet</button>
</div>
<br/>
<br/>

<div class="row-fluid" align="center">
            <a class="btn btn-large btn-success span4" href="#/salgkalkyle/kledning-og-bjelke">Neste</a>
            <a class="btn btn-large btn-success span4" href="#/salgkalkyle">Forrige</a>
</div>



