
<h2>Tak</h2>
<div class="row-fluid btn-group" data-toggle="buttons-radio" align="center">
    <button type="button" class="btn btn-large btn-three {{activeClass(tak.type,'heltre')}}" ng-click="setType('heltre')">Heltre</button>
    <button type="button" class="btn btn-large btn-three {{activeClass(tak.type,'isperr')}}" ng-click="setType('isperr')">I-sperr</button>
    <button type="button" class="btn btn-large btn-three {{activeClass(tak.type,'annet')}}" ng-click="setType('annet')">Annet</button>
</div>
<br/>
<br/>
<br/>
<br/>

<form class="form-horizontal" style="margin-left: 5%;">
    <fieldset>


        <!-- Text input-->
        <div class="control-group">
            <label class="control-label-left" for="sperrefot">Synlig sperrefot:</label>
            <div class="controls">
                <input id="sperrefot" ng-model="tak.sperrefot" name="sperrefot" type="text" class="input-xlarge">

            </div>
        </div>

        <!-- Text input-->
        <div class="control-group">
            <label class="control-label-left" for="takoppbygging">Oppbygging under tak:</label>
            <div class="controls">
                <input id="takoppbygging" ng-model="tak.takoppbygging" name="takoppbygging" type="text" class="input-xlarge">

            </div>
        </div>

        <!-- Text input-->
        <div class="control-group">
            <label class="control-label-left" for="taktekking">Taktekking:</label>
            <div class="controls">
                <input id="taktekking" ng-model="tak.taktekking" name="taktekking" type="text" class="input-xlarge">

            </div>
        </div>

    </fieldset>
</form>

<br/>
<br/>
<br/>

<div class="row-fluid" align="center">
    <button class="btn btn-large btn-success btn-prev-next" onclick="window.location='#/salgskalkyle/kledning-og-bjelke'">Forrige</button>
    <button class="btn btn-large btn-success btn-prev-next" onclick="window.location='#/salgskalkyle/yttervegg-og-listverk'">Neste</button>
</div>


