<br>
<div class="row" align="center"><h3>Endringer i standard</h3></div>

<p>Lat : {{latitude}}</p>
<p>Lat : {{longlitude}}</p>
<p>Altitude : {{altitude}}</p>

<h1>Type bygg</h1>

<div class="row-fluid">
    <div class="span4" align="center"><img class="img-grid" ng-src="{{eneboligIcon}}" ng-click="toggleEneboligIcon()"/><br>Enebolig</div>
    <div class="span4" align="center"><img class="img-grid" ng-src="{{rekkehusIcon}}" ng-click="toggleRekkehusIcon()"/><br><p>Rekkehus</div>
    <div class="span4" align="center"><img class="img-grid" ng-src="{{leilighetsbyggIcon}}" ng-click="toggleLeilighetsbyggIcon()"/><br><p>Leilighetsbygg</p></div>
</div>

<div class="row-fluid">
    <div class="span4" align="center"><img class="img-grid" ng-src="{{hytteIcon}}" ng-click="toggleHytteIcon()"/><br><p>Hytte</p></div>
    <div class="span4" align="center"><img class="img-grid" ng-src="{{naringsbyggIcon}}" ng-click="toggleNaringsbyggIcon()"/><br><p>Næringsbygg</p></div>
    <div class="span4" align="center"><img class="img-grid" ng-src="{{fredetByggIcon}}" ng-click="toggleFredetByggIcon()"/><br><p>Fredet bygg</p></div>
</div>

