<div class="row" align="center">
	<h2>Endringer i standard</h2>
</div>
<h1>
	Yttervegg<small> (reisverk)</small>
</h1>
<br>
<div class="row-fluid">

<div class="btn-group span5" align="center">
	<a class="btn btn-large btn-block dropdown-toggle" data-toggle="dropdown">{{yttervegg.hoyde}} mm<span class="caret"></span>
	</a>
	<ul class="dropdown-menu">
    <li ng-click="setHoyde(36)">36 mm</li>
    <br>
    <li ng-click="setHoyde(48)">48 mm</li>
    </ul>
</div>

<div class="span2" align="center"><h1> X </h1></div>
 
 <div class="btn-group span5" align="center">   
    <a class="btn btn-large btn-block dropdown-toggle" data-toggle="dropdown">{{yttervegg.bredde}} mm<span class="caret"></span>
    </a>
    <ul class="dropdown-menu">
    <li ng-click="setBredde(148)">148 mm</li>
    <br>
    <li ng-click="setBredde(198)">198 mm</li>
    </ul>
</div>

</div>

<br>
<br>
<br>
<br>
<br>

<h1>Listverk</h1>
<br>
<div class="row-fluid btn-group" data-toggle="buttons-radio"
	align="center">
	<button type="button"
		class="btn btn-large btn-two {{activeClass(yttervegg.list_profil,'Profilert')}}"
		ng-click="setProfil('Profilert')">Profilert</button>
	<button type="button"
		class="btn btn-large btn-two {{activeClass(yttervegg.list_profil,'Rektangulær')}}"
		ng-click="setProfil('Rektangulær')">Rektangulær</button>
</div>
<br>
<br>
<div class="row-fluid btn-group" data-toggle="buttons-radio"
	align="center">
	<button type="button"
		class="btn btn-large btn-three {{activeClass(yttervegg.list_behandlet,'Ubehandlet')}}"
		ng-click="setBehandlet('Ubehandlet')">Ubehandlet</button>
	<button type="button"
		class="btn btn-large btn-three {{activeClass(yttervegg.list_behandlet,'Grunnet')}}"
		ng-click="setBehandlet('Grunnet')">Grunnet</button>
	<button type="button"
		class="btn btn-large btn-three {{activeClass(yttervegg.list_behandlet,'Malt')}}"
		ng-click="setBehandlet('Malt')">Malt</button>
</div>
