<div class="row" align="center">
	<h2>Endringer i standard</h2>
</div>
<h1>
	Yttervegg<small> (reisverk)</small>
</h1>
<div class="row-fluid">

<div class="btn-group span4" align="center">
	<a class="btn btn-large dropdown-toggle" data-toggle="dropdown">{{hoyde}} mm<span class="caret"></span>
	</a>
	<ul class="dropdown-menu">
    <li ng-click="setHoyde(36)"><h2>36 mm</h2></li>
    <br>
    <li ng-click="setHoyde(48)"><h2>48 mm</h2></li>
    </ul>
</div>

<div class="span4" align="center"><h1> X </h1></div>
 
 <div class="btn-group span4" align="center">   
    <a class="btn btn-large dropdown-toggle" data-toggle="dropdown">{{bredde}} mm<span class="caret"></span>
    </a>
    <ul class="dropdown-menu">
    <li ng-click="setBredde(148)"><h2>148 mm</h2></li>
    <br>
    <li ng-click="setBredde(198)"><h2>198 mm</h2></li>
    </ul>
</div>

</div>

<br>
<br>
<br>
<br>

<h1>Listverk</h1>

<div class="row" class="btn-group" data-toggle="buttons-radio"
	align="center">
	<button type="button"
		class="btn btn-large btn-two {{activeClass(list_profil,'Profilert')}}"
		ng-click="setProfil('Profilert')">Profilert</button>
	<button type="button"
		class="btn btn-large btn-two {{activeClass(list_profil,'Rektangulær')}}"
		ng-click="setProfil('Rektangulær')">Rektangulær</button>
</div>
<br>
<div class="row" class="btn-group" data-toggle="buttons-radio"
	align="center">
	<button type="button"
		class="btn btn-large btn-three {{activeClass(list_behandlet,'Ubehandlet')}}"
		ng-click="setBehandlet('Ubehandlet')">Ubehandlet</button>
	<button type="button"
		class="btn btn-large btn-three {{activeClass(list_behandlet,'Grunnet')}}"
		ng-click="setBehandlet('Grunnet')">Grunnet</button>
	<button type="button"
		class="btn btn-large btn-three {{activeClass(list_behandlet,'Malt')}}"
		ng-click="setBehandlet('Malt')">Malt</button>
</div>

<br>
<br>
<br>
<br>

<div class="row-fluid" align="center">
	<a class="btn btn-large btn-success btn-prev-next"
		href="#/salgskalkyle/kledning-og-bjelke">Forrige</a> <a
		class="btn btn-large btn-success btn-prev-next" href="#/salgskalkyle">Neste</a>
</div>